# IntelliJ IDEA
.idea/
*.iml

# VSCode
.vscode

# SBT
/project/target
/project/project
/target
.bsp/

# Local files
deployLocal.sh
localDependencies/spigot-1.18.2.jar
plugins/*

# Docker
docker/spigot/serverfiles/eula.txt

.env

# Metal
.bloop
.metals
project/.bloop/
project/metals.sbt

# scalac に -Yprofile-trace profile.trace を渡しているので、Chrome Trace file が生成される
/profile.trace
