# IntelliJ IDEA
.idea/
*.iml

# VSCode
.vscode

# SBT
/project/target
/project/project
/target
.bsp/

# Local files
deployLocal.sh
localDependencies/spigot-1.16.5.jar
plugins/*

# Docker
docker/spigot/serverfiles/eula.txt

.env

# Metal
.bloop
.metals
project/.bloop/
project/metals.sbt
