version: '3.7'

networks:
  seichi:
    external: false

volumes:
  spigot_a:
  spigot_b:
  db-data:

services:
  spigota:
    build:
      context: .
      dockerfile: ./docker/spigot/Dockerfile
    image: spigot
    networks:
      - seichi
    volumes:
      - spigot_a:/spigot/
    ports:
      - "25566:25565"
    environment:
      - SERVER_NUM=1
      - SERVER_ID=spigot-a
      - DB_HOST=db
      - DB_PASSWORD=unchamaisgod
    depends_on:
      - db
    stdin_open: true
  spigotb:
    build:
      context: .
      dockerfile: ./docker/spigot/Dockerfile
    image: spigot
    networks:
      - seichi
    volumes:
      - spigot_b:/spigot/
    ports:
      - "25567:25565"
    environment:
      - SERVER_NUM=2
      - SERVER_ID=spigot-b
      - DB_HOST=db
      - DB_PASSWORD=unchamaisgod
    depends_on:
      - db
    stdin_open: true
  bungeecord:
    build: ./docker/bungeecord
    ports:
      - 25565:25577
    networks:
      - seichi
    depends_on:
      - spigota
      - spigotb
    stdin_open: true


  phpmyadmin:
    image: phpmyadmin/phpmyadmin:4.8.5
    environment:
      - TZ=Asia/Tokyo
      - PMA_ARBITRARY=1
      - PMA_HOST=db
      - PMA_PORT=3306
      - PMA_USER=root
      - PMA_PASSWORD=unchamaisgod
    networks:
      - seichi
    ports:
      - "8080:80"
    depends_on:
      - db
  db:
    image: mariadb:10.1.38-bionic
    environment:
      - TZ=Asia/Tokyo
      - MYSQL_ROOT_PASSWORD=unchamaisgod
    command: [
      '--wait_timeout=86400',
      '--character-set-server=utf8',
    ]
    networks:
      - seichi
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3306:3306"
