version: '3.7'

networks:
  seichi:
    external: false

volumes:
  spigot_a_world:
  spigot_a_world_nether:
  spigot_a_world_the_end:
  spigot_b_world:
  spigot_b_world_nether:
  spigot_b_world_the_end:
  db-data:

services:
  spigota:
    build:
      context: .
      dockerfile: ./docker/spigot/Dockerfile
    image: spigot
    networks:
      - seichi
    volumes:
      - spigot_a_world:/spigot/world
      - spigot_a_world_nether:/spigot/world_nether
      - spigot_a_world_the_end:/spigot/world_the_end
    ports:
      - "25566:25565"
    depends_on:
      - db
    command: >
      bash -c "cp -f /build/*.jar /spigot/plugins/ &&
        mkdir -p /spigot/plugins/SeichiAssist/ &&
        cp -f /conf/config.yml /spigot/plugins/SeichiAssist/config.yml &&
        sed -i -e 's/host: .*/host: db/' /spigot/plugins/SeichiAssist/config.yml &&
        sed -i -e 's/pw: .*/pw: unchamaisgod/' /spigot/plugins/SeichiAssist/config.yml &&
        java -jar /spigot/spigot*.jar nogui"
    stdin_open: true
  spigotb:
    build:
      context: .
      dockerfile: ./docker/spigot/Dockerfile
    image: spigot
    networks:
      - seichi
    volumes:
      - spigot_b_world:/spigot/world
      - spigot_b_world_nether:/spigot/world_nether
      - spigot_b_world_the_end:/spigot/world_the_end
    ports:
      - "25567:25565"
    depends_on:
      - db
    command: >
      bash -c "cp -f /build/*.jar /spigot/plugins/ &&
        mkdir -p /spigot/plugins/SeichiAssist/ &&
        cp -f /conf/config.yml /spigot/plugins/SeichiAssist/config.yml &&
        sed -i -e 's/host: .*/host: db/' /spigot/plugins/SeichiAssist/config.yml &&
        sed -i -e 's/pw: .*/pw: unchamaisgod/' /spigot/plugins/SeichiAssist/config.yml &&
        java -jar /spigot/spigot*.jar nogui"
    stdin_open: true
  bungeecord:
    build: ./docker/bungeecord
    ports:
      - 25565:25577
    networks:
      - seichi
    depends_on:
      - spigota
      - spigotb
    stdin_open: true


  phpmyadmin:
    image: phpmyadmin/phpmyadmin:4.8.5
    environment:
      - TZ=Asia/Tokyo
      - PMA_ARBITRARY=1
      - PMA_HOST=db
      - PMA_PORT=3306
      - PMA_USER=root
      - PMA_PASSWORD=unchamaisgod
    networks:
      - seichi
    ports:
      - "8080:80"
    depends_on:
      - db
  db:
    image: mariadb:10.1.38-bionic
    environment:
      - TZ=Asia/Tokyo
      - MYSQL_ROOT_PASSWORD=unchamaisgod
    command: [
      '--wait_timeout=86400',
      '--character-set-server=utf8',
    ]
    networks:
      - seichi
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3306:3306"
