version: 2.1

anchors:
  docker:
    gradle_docker: &sbt_docker
      docker:
        - image: circleci/openjdk:8u181-jdk
  workspace:
    save_workspace: &save_workspace
      persist_to_workspace:
        root: ./workspace
        paths:
          - '*'
    load_workspace: &load_workspace
      attach_workspace:
        at: '/tmp/workspace'

jobs:
  build_and_test:
    <<: *sbt_docker
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - sbt-repo-v3-{{ .Branch }}-{{ checksum "build.sbt" }}
            - sbt-repo-v3-{{ .Branch }}-
            - sbt-repo-v3-
      - restore_cache:
          keys:
            - build-cache-v3-{{ .Branch }}-
            - build-cache-v3-
      - run: du -h --max-depth=1 ~
      - run: du -h --max-depth=2 target
      ## ビルド結果が残っている可能性があるのでクリアする
      - run: rm -rf target/build
      - run: ./sbt assembly
      - save_cache:
          paths:
            - ~/.ivy2/cache
            - ~/.m2
            - ~/.cache/coursier/v1
            - ~/.sbt
          key: sbt-repo-v3-{{ .Branch }}-{{ checksum "build.sbt" }}
      - save_cache:
          ## 毎回ビルド結果をキャッシュする。次のビルドにて
          ##  build-cache-v2-{{ .Branch }}
          ## までが等しい最新のキャッシュが使われるから、コンパイルはインクリメンタルになる。
          paths:
            - ~/repo/target
            - ~/repo/project/target
          key: build-cache-v2-{{ .Branch }}-{{ epoch }}
      - run: mkdir -p workspace/builds && cp target/build/**.jar workspace/builds
      - *save_workspace
  deploy_debug:
    <<: *sbt_docker
    working_directory: ~/repo
    steps:
      - *load_workspace
      - run: du -h --max-depth=2 /tmp/workspace/builds
      - run: scp -v -oStrictHostKeyChecking=no -P $HOST_PORT /tmp/workspace/builds/**.jar $DEBUG_DEPLOY_TARGET_HOST
  deploy_production:
    <<: *sbt_docker
    working_directory: ~/repo
    steps:
      - *load_workspace
      - run: du -h --max-depth=2 /tmp/workspace/builds
      - run: scp -v -oStrictHostKeyChecking=no -P $HOST_PORT /tmp/workspace/builds/**.jar $PRODUCTION_DEPLOY_TARGET_HOST

workflows:
  version: 2
  test_and_build:
    jobs:
      - build_and_test
      - deploy_production:
          requires:
            - build_and_test
          filters:
            branches:
              only:
                - master
      - deploy_debug:
          requires:
            - build_and_test
          filters:
            branches:
              only:
                - develop
