name: build check

on:
  push:
    branches:
      - develop
      - master
    paths:
      - src/**
      - build.sbt
      - .scalafix.conf
      - .scalafmt.conf
      - project/*
      - .github/workflows/**.yml
      - .github/actions/**/**.yml
  pull_request:
    paths:
      - src/**
      - build.sbt
      - .scalafix.conf
      - .scalafmt.conf
      - project/*
      - .github/workflows/**.yml
      - .github/actions/**/**.yml

jobs:
  build_check:
    env:
      BUILD_ENVIRONMENT_IS_CI_OR_LOCAL: "CI"
    runs-on: ubuntu-24.04
    container: ghcr.io/giganticminecraft/seichiassist-builder-v2:776da10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: 'recursive'

      - name: Prepare build environment for seichiassist
        uses: ./.github/actions/prepare-build-environment-for-seichiassist

      - name: Check format with Scalafmt
        run: ./sbt scalafmtCheckAll

      - name: Check lint with Scalafix on push
        run: ./sbt "scalafix --check"

      - name: Test and build artifact
        run: mkdir -p target/build && ./sbt assembly

      - name: Clean build artifact for caching target folder
        run: rm -r target/build

      - name: Upload dependency graph
        if: github.ref == 'refs/heads/develop'
        uses: scalacenter/sbt-dependency-submission@v3.2.1
