name: Create new pre release

on:
  pull_request:
    paths:
      - src/**
      - build.sbt
      - .scalafix.conf
      - .scalafmt.conf
      - project/*
      - .github/workflows/**.yml
      - .github/actions/**/**.yml

jobs:
  create_release:
    runs-on: ubuntu-24.04
    container: ghcr.io/giganticminecraft/seichiassist-builder-v2:1df7cf5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: 'recursive'

      - name: Prepare build environment for seichiassist
        uses: ./.github/actions/prepare-build-environment-for-seichiassist

      # sbt-assembly 2以降からディレクトリを作ってくれなくなった
      - name: Build artifact
        run: mkdir -p target/build && ./sbt assembly

      - name: Create and push a tag
        id: tag-name
        # GiganticMinecraftにあるSeichiAssistリポジトリのブランチからのPRのみ実行
        if: ${{ github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name }}
        run: |
          TAG_NAME=pr-${{ github.event.pull_request.number }}-${{ github.event.pull_request.head.sha }}
          git tag $TAG_NAME
          git push origin $TAG_NAME
          echo "value=$TAG_NAME" >> $GITHUB_OUTPUT

      - name: Create pre release
        uses: softprops/action-gh-release@v2
        # GiganticMinecraftにあるSeichiAssistリポジトリのブランチからのPRのみ実行
        if: ${{ github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          target_commitish: ${{ github.head_ref }}
          files: target/build/SeichiAssist.jar
          tag_name: ${{ steps.tag-name.outputs.value }}
          draft: false
          prerelease: true

      - name: Clean build artifact for caching target folder
        run: rm -r target/build
